body {
margin: 0;
padding: 0;
background-color: pink;
}
.container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
   /* margin-left: 500px;*/
    margin-top: 100px;
}
.image {
    max-width: 200px;
    max-height: 200px;
    margin-right: 15px;;
}
.inf{
    margin-top: 5px;
    padding: 0;
}
.button{
    margin-top: 15px;
}
.contact {
    border: none;
    background-color: blueviolet;
    padding: 7px 15px;
    color: beige;
}
